body {
    background-color: #f5f5f5;
    overflow-x: hidden;
}

h1.navbar-brand {
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Lucida Console', Monaco, monospace;
    margin-left: 1%;
}

div.navbar#mainNavbar {
    background-color: #F76 !important;
    box-shadow: 5px #888888;
}

#circle-logo {
    float: left;
    width: 100px;
    height: 100px;
    top: -4%;
    left: -0.4%;
}

#main-logo {
    background-color: #fff;
    border-radius: 50%;
    float: left;
    height: 80px;
    margin-left: 3%;
    margin-top: 0.4%;
    padding: 1%;
    width: 80px;
}

#info-img {
    width: 150px;
    height: 150px;
}


#messages-container {
    font-size: 20px;
}

/* */
#list-items {
    /* background-color: #f52;*/
    /*border: solid 2px #ccc;*/
    /*background-color: #fff;*/
    overflow: hidden;
    padding: 15px;
}

#list-items .list-group-item {
    text-align: justify;
    margin: 12px 0px;
    padding: 5px;
    font-size: 20px;
    box-shadow: 3px 3px 3px #888888;
}

#list-items .list-group-item .list-group-item-heading {
    color: #fff;
    font-family: 'Lucida Console', Monaco, monospace;
    position: relative;
    top: 0.5em;
}

.list-group .list-group-item .row-content {
    display: inline-block;
    width: calc(100% - 1px);
    min-height: 66px;
    background-color: #fff;
    color: #000;
    padding: 5px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin: 2px;
}

#list-items .list-group-item:hover {
    cursor: pointer;
}

#list-items li:nth-child(odd) {
    /*background-color: #449988;*/
    background-color: #00B5E2 !important;
    color: #fff;
    right: 100%;
}

#list-items li:nth-child(even) {
    /*background-color: #994455;*/
    background-color: #00B5E2 !important;
    color: #fff;
    left: 100%;
}

#list-items li.center:nth-child(odd) {
    right: 0;
    transition: ease-in-out 500ms;
    -webkit-transition: ease-in-out 500ms;
    -moz-transition: ease-in-out 500ms;
    -o-transition: ease-in-out 500ms;
}

#list-items li.center:nth-child(even) {
    left: 0;
    transition: linear 500ms;
    -webkit-transition: linear 500ms;
    -moz-transition: linear 500ms;
    -o-transition: linear 500ms;
}

.number-client {
    margin: 1.2em;
    font-size: 0.9em !important;
    font-weight: 800;
}

/* Filter Inpup */
#filter_text {
    padding: 0;
    float: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid #757575;
    color: #fff;
    height: 50px;
    font-size: 1.4em;
    font-weight: 600;
    margin-left: 10px;
}

#filter_text.input-large {
    width: 40% !important;
    transition: width 1s ease;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
}

#filter_text:not(.input-large) {
    width: init;
    transition: linear 800ms;
    -webkit-transition: linear 800ms;
    -moz-transition: linear 800ms;
    -o-transition: linear 800ms;
}

.load-bar {
    width: 98% !important;
}

.alert-success {
    background-color: #0f9d7c;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    #circle-logo {
        position: relative;
        width: 80px;
        height: 80px;
        float: left;
        margin-top: 1.5%;
        margin-left: 0.1%;
    }

    #main-logo {
        float: left;
        width: 60px;
        height: 60px;
        margin-top: 3%;
    }

    h1.navbar-brand {
        display: none;
    }

    #info-img {
        width: 50px;
        height: 50px;
    }
}